{% extends "blog/base.html" %}
{% block content%}
<div class="carousel-bar">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          </ol>
        <div class="carousel inner">
            <div class="carousel-item active">
                <img src="/static/images/banner.jpg" alt="First Image" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/banner.jpg" alt="First Image" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <h5>...</h5>
                    <p>...</p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        </div>
    </div>
</div>
<div class="container">
        {% for Post in posts %}
    <div class="row">
        <div class="card col-md-8 col-sm-12 mb-3" style="box-shadow:10px 5px 12px rgba(0, 0, 0, 0.2);">
            <div class="ml-n1 pl-2 pr-2 h-25" style="background-color: rgb(65, 151, 150); color: white;">
                <b style="font-size: 22px">{{Post.date_posted|date:"d"}}</b>
                <c>{{Post.date_posted|date:"F, Y"}}</c>
                <a href="http://{{Post.link}}" class="fa fa-download float-right mt-2 mr-1" style="color: white;"></a>
                {% if user.is_authenticated %}
                        <a class="float-right mt-1 mr-3" style="color: white;" href="#">Edit</a>
                {% endif %}
            </div>
            <div class="card-body">
                <h5 style="color: rgb(39, 39, 39)">{{Post.title}}</h5>
                {{Post.content|safe}}
                {% if user.is_autheticated %}
                    <a href="" style="color: black;">Edit</a>
                {% endif %}
                <div class="post-sub pt-2 pb-2">
                    <p style="margin: 0">Posted by {{Post.author}} - <b style="color: rgb(65, 151, 150)">{{Post.tag}}</b></p>
                </div>
            </div>
        </div>
    </div>
        {% endfor %}
</div>
<div class="mainpage">
    <div class="mainpage-right">
        <div class="card" style="width: 27%; margin-bottom: 5px;">
            <div class="card-body" style="background-color: rgb(65, 151, 150); color: white; font-size: medium; text-align: left; padding: 10px;">
                <p class="card-text">Announcements</p>
            </div>
        </div>
        {% for Announcement in announcements %}
        <div class="card" style="width: 27%; margin-bottom: 15px; padding-left: 6px; box-shadow:10px 5px 12px rgba(0, 0, 0, 0.2);">
            <div class="card-body" style=" text-align: left; color: rgb(119, 119, 119);">
                <p style="margin-bottom: 0;">{{Announcement.announcement}}</p>
                <div class="post-sub" style="padding: 6px 24px">
                    <p style="margin: 0; font-size: 10px;">{{Announcement.author}} - {{Announcement.time}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content%}